.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}   

.dialogsItem {
 padding: 10px;
}

.dialogsItem .active {
    color: gold;
}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialog a.active {
    color: gold;
}


.messages .message {
    padding: 10px;
    color: white;
}